
  
<div>
  <div class="min-h-[22vh]">
      <div>
          <p>
              <mat-toolbar class="flex items-center justify-between" color="primary">
              
                  <span>Cardápio de receitas brasileiras</span>
              
                  <span class="example-spacer"></span>
                
                  <button 
                  mat-button
                  (click)="handleLogOut">
                    {{user.fullName}}
                  </button>
                
              </mat-toolbar>
            </p>
      </div>
  </div>
</div>
  

